.container-homeserie{
    .tabla-title{
        font-size: 40px;
        text-align: center;
    }

    .container-tabla{
        display: flex;
        align-items: center;
        justify-content: center;

    }
}